{{define "photos"}}
      <h1>Nahrajte fotky!</h1>

      <p class="center" style="font-size: 1.3em;">Nahrajte nám fotky na památku. Můžete si je i nechat vytisknout ve fotokoutku.</p>

      <form method="POST" action="/nahrat" enctype="multipart/form-data">

        <input type="file" name="file">
        <textarea placeholder="✍🏻Vzkaz" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="description"></textarea>

        <label>
          <input type="checkbox" name="print"> 🖨 Vytisknout
        </label>

        <input type="submit" class="btn" value="👍🏿Nahrát">
      </form>

      <h2>Nahrané fotky</h2>

      <center>
      <a href="/fotky/vse">Všechny nahrané fotky</a> &mdash; <a href="/fotky/slideshow">Slideshow</a>
      </center>
      <br><br>

      {{range $item := .files}}
        {{tmpl "img" $item}}
        <hr>
      {{end}}

{{end}}